<Settings>
    <Debug>False</Debug>
    <FormFormatSettings>
        <Size>
            <Width>360</Width>
            <Height>480</Height>
        </Size>
        <Location>
            <X>0</X>
            <Y>0</Y>
        </Location>
        <State>Normal</State>
    </FormFormatSettings>
    <FormCollection>
        <Size>
            <Width>360</Width>
            <Height>480</Height>
        </Size>
        <Location>
            <X>0</X>
            <Y>0</Y>
        </Location>
        <State>Normal</State>
    </FormCollection>
</Settings>